---
import Href from "@/components/Href";
import Layout from "@/components/layout/Layout.astro";
import Section from "@/components/layout/Section.astro";
import Grid from "@/components/layout/Grid.astro";
import TextSwitcher from "@/components/TextSwitcher";
import DefaultSiteLayout from "@/components/layout/DefaultSiteLayout.astro";
import { RegisterGuestUserDialog21Questions } from "@/components/dialog/RegisterDialog";
---


<DefaultSiteLayout title="Adpharm Digital">
  <main class="relative">
    <Section className="pt-12 sm:pt-24 md:pt-[20vh] lg:pt-[22vh] pb-48">
      <Grid id="about">
        <div slot="left" class="flex-col justify-start items-center md:ml-10">
          <div class="flex flex-row justify-start items-center pt-32 lg:pt-6">
            <h1 class="font-bold text-xl">
              Adpharm <span class="text-orange-600 mr-4">Digital</span>
            </h1>
            <img
              src="/adpharm-digital-logomark.png"
              alt="adpharm digital"
              class="w-8 mr-10 lg:mr-0"
            />
          </div>
          <h2 class="pt-20 lg:pt-4 text-3xl font-light animate-fade-in-up">
            Connecting Brands with Audiences Through Technology and Thoughtful
            Innovation
          </h2>
        </div>
        <div slot="right">
          <div
            class="pt-12 grid grid-cols-1 lg:grid-cols-2 gap-8 text-zinc-400 animate-fade-in-2"
          >
            <div></div>

            <div></div>
          </div>
        </div>
      </Grid>
    </Section>

    <Section topBorder bottomBorder className="py-20">
      <Grid id="digital">
        <div slot="left"></div>
        <div slot="right">
          <p>
            <!-- intro line -->
            Initially created to service clients looking for digital-only solutions,
            Adpharm Digital today blends pharmaceutical expertise with technology
            to make meaningful connections between brands and their audiences. We
            take an integrated approach, aligning digital strategies with broader
            brand and product goals to deliver seamless experiences across online
            and in-person channels.
          </p>
        </div>
      </Grid>
    </Section>

    <Section fullBottomBorder className="py-20">
      <Grid id="digital">
        <div slot="left"></div>
        <div slot="right">
          <p>
            Our capabilities include website and app development, CX/UX/UI and
            customer journey mapping, advanced CRM, email design and deployment,
            analytics, and reporting, all executed with a focus on precision and
            collaboration. Through our Digital Innovation Lab, we explore
            emerging technologies like AI, machine learning, and virtual reality
            to craft forward-thinking solutions that engage and inspire. We're
            here to help you navigate the digital landscape and deliver
            experiences that make an impact.
          </p>
        </div>
      </Grid>
    </Section>

    <Section className="pt-12 pb-24" fullTopBorder>
      <Grid id="sfd23" className="space-y-12 lg:space-y-0">
        <div slot="left" class="pl-0 lg:pl-10">
          <h3 class="text-xl pb-4">The Adpharm Inc.</h3>
          <p class="text-lg">133 Thomas Street</p>
          <p class="text-zinc-400">Oakville, Ontario</p>
          <p class="text-zinc-400">L6J 3A9</p>
          <p class="pt-0 lg:pt-4">
            <Href
              href="https://www.linkedin.com/company/the-adpharm/"
              className="text-sm">LinkedIn</Href
            >
          </p>
        </div>

        <div slot="right">
          <div class="grid space-y-8 sm:space-y-0 sm:grid-cols-2">
            <div>
              <p class="pb-4 text-zinc-400 text-xs uppercase font-medium">
                Contact
              </p>
              <p class="text-lg">Amy Moriarty</p>
              <p class="text-zinc-400">SVP, Managing Director</p>
              <div class="flex items-center justify-start">
                <p class="text-zinc-400 pr-1">amy@theadpharm.com</p>
                <TextSwitcher
                  client:load
                  textToCopy="amy@theadpharm.com"
                  beforeText="(copy)"
                  beforeClassName="hover:underline cursor-pointer"
                  afterText="(copied ✔)"
                  afterClassName="text-green-600"
                />
              </div>
            </div>

            <div>
              <p class="pb-4 text-zinc-400 text-xs uppercase font-medium">
                Teams
              </p>

              <ul class="space-y-1.5">
                <li class="flex items-center space-x-2">
                  <!-- <Icon name="home" className="h-5 w-5 text-orange-600" /> -->
                  <Href
                    href="/"
                    className="text-sm text-white hover:text-orange-600"
                    >The Adpharm (Agency)</Href
                  >
                </li>

                <li class="flex items-center space-x-2">
                  <!-- <img src="/synapse-tree-blue.png" alt="Synapse tree" class="h-8 w-8" /> -->
                  <!-- <Icon name="brain" className="h-5 w-5 text-[#1292a9]" /> -->
                  <Href
                    href="https://www.synapsemedcom.ca/"
                    className="text-sm text-white hover:text-[#1292a9]"
                    target="_blank"
                    rel="noreferrer"
                  >
                    Synapse Medcom
                  </Href>
                </li>

                <li class="flex items-center space-x-2">
                  <!-- <Icon name="chevronRight" className="h-5 w-5 text-orange-600" /> -->
                  <Href
                    href="/digital"
                    className="text-sm text-white hover:text-orange-600"
                    >AD (Adpharm Digital)</Href
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </Grid>
    </Section>

    <Section topBorder className="py-4">
      <div class="grid grid-cols-1 sm:grid-cols-5">
        <div
          class="col-span-2 flex items-center justify-center sm:justify-start"
        >
          <!-- <p class="text-xs text-zinc-400">&copy; {new Date().getFullYear()} The Adpharm Inc.</p> -->
        </div>
        <div class="col-span-3 flex items-center justify-center sm:justify-end">
          <!-- <p class="text-xs text-zinc-400">Made with ❤️ in Oakville, ON.</p> -->
          <p class="text-xs text-zinc-400">
            &copy; {new Date().getFullYear()} The Adpharm Inc.
          </p>
        </div>
      </div>
      <div class="flex items-center justify-center h-48">
        <p>
          Find the new christmas Game here: <Href href="digital/plinko/"
            >Christmas Game - Plinko</Href
          >
        </p>
      </div>
    </Section>
  </main>
</DefaultSiteLayout>
