---
import Href from "../../components/Href";
import Layout from "../../layouts/Layout.astro";
import Section from "../../layouts/Section.astro";

const API_BASE_URL = "https://api.sws.speechify.com";

const API_KEY = "ad_4QevXkZ_4aTwe4exysPdREoZoInjepqbnIMWjfqU=";

async function getVoices() {
  const res = await fetch(`${API_BASE_URL}/v1/voices`, {
    method: "GET",
    headers: {
      Authorization: `Bearer ${API_KEY}`,
    },
  });
  return await res.json();
}

async function main() {
  const voices = await getVoices();

  console.log(voices);

  const displayNames = voices.map((voice: any) => voice.displayName);
  console.log("Here are the names of the voices: ", displayNames);
}

main();
---

<Layout title="AD | Christmas Game">
  <main>
    <Section className="pt-20 min-h-screen">
      <div class="flex items-center justify-center h-48">
        <div class="text-center">
          <h1 class="text-2xl">
            We're busy focusing on client work. That's our excuse, anyway.
          </h1>
          <p class="text-zinc-400 pt-4">
            The Adpharm Digital website is currently under construction, please
            check back soon.
          </p>

          <p class="text-zinc-400">
            For now, please visit <Href
              href="/"
              className="text-orange-500 hover:text-orange-600"
              >www.theadpharm.com</Href
            >
          </p>
        </div>
      </div>
    </Section>
  </main>
</Layout>
