[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "5.1"
python-dotenv = "*"
psycopg = {extras = ["binary"], version = "*"}
django-environ = "*"
whitenoise = "*"
gunicorn = "*"
django-ninja = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.12"
