---
import Href from "@/components/Href";
import Layout from "@/components/layout/Layout.astro";
import Section from "@/components/layout/Section.astro";
---

<Layout title="AD | Adpharm Digital">
  <main>
    <Section className="pt-20 min-h-screen">
      <div class="flex items-center justify-center h-48">
        <div class="text-center">
          <h1 class="text-xl">404: Nothing to see here.</h1>
          <p class=" text-zinc-400">
            Visit the <Href href="/" className="text-orange-500 hover:text-orange-600">homepage</Href> to get back on
            track.
          </p>
        </div>
      </div>
    </Section>
  </main>
</Layout>
