---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Let's play Christmas Plinko! by The Adpharm">
  <main class="flex flex-col min-h-screen">
    <div class="max-w-7xl mx-auto">
      <h1>Plinko!</h1>
    </div>
  </main>
</Layout>
