---
import Layout from "../../layouts/Layout.astro";
import Section from "../../layouts/Section.astro";
---

<Layout title="The Adpharm">
  <main>
    <Section className="pt-20 min-h-screen">
      <div class="flex items-center justify-center h-48">
        <div class="text-center">
          <h1>AD (Adpharm Digital)</h1>
          <p>Coming soon...</p>
        </div>
      </div>
    </Section>
  </main>
</Layout>
