---
import DefaultSiteLayout from "@/components/layout/DefaultSiteLayout.astro";
import Section from "@/components/layout/Section.astro";
import PlinkoReportDashboard from "@/components/plinko-report/PlinkoReportDashboard";
import LookingForMoreFunGames from "@/components/plinko-report/LookingForMoreFunGames";
import {
  getAllScores,
  getGamesOnly,
  getGamesWithRounds,
  getUniqueUsers,
  listLeaderboardGames,
} from "@/lib/server/loaders/plinkoReportingLoaders";

await listLeaderboardGames();
await getAllScores();
await getUniqueUsers();
await getGamesWithRounds();
await getGamesOnly();

// TODO: consider batching https://orm.drizzle.team/docs/batch-api
---

<DefaultSiteLayout title="Plinko Report">
  <main class="relative">
    <Section className="pt-24 md:pt-[10vh] lg:pt-[10vh] pb-48 lg:ml-20">
      <!-- <Grid id="report">
        <div slot="left" class="flex-col justify-start items-center md:ml-10">
          <div class="flex flex-row justify-start items-center pt-32 lg:pt-6"> -->

      <!-- </div> -->
      <div class="max-w-5xl mx-auto">
        <h1 class="font-bold text-2xl">The Adpharm’s Holiday Plinko Report</h1>
        <PlinkoReportDashboard client:load />

        <h1 class="font-bold text-2xl pt-8">Looking for more fun?</h1>
        <LookingForMoreFunGames client:load />
      </div>
      <!-- </div> -->
      <!-- <div slot="right"> -->
      <!-- <div -->
      <!-- class="pt-12 grid grid-cols-1 lg:grid-cols-2 gap-8 text-zinc-400 animate-fade-in-2" -->
      <!-- > -->
      <!-- <div></div> -->

      <!-- <div></div> -->
      <!-- </div> -->
      <!-- </div> -->
      <!-- </Grid> -->
    </Section>
  </main>
</DefaultSiteLayout>
